* {
    box-sizing: border-box;
}
body {
    background-color: #FFCB08;
    color: #fff;
    font-family:'Lato',Helvetica,Arial;
    font-size:15px;
    display:block;
    margin:0;
    min-height:100vh;
}
body::-webkit-scrollbar {
    width: 12px;          
  }
  
  body::-webkit-scrollbar-track {
    background: #FFCB08;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #2A6EB7;    
    border-radius: 20px;       
    border: 3px solid #FFCB08;  
}
.models {
    display:none;
}
header {
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    width: 100%;
    background-color:#2A6EB7;
}
.menu-openner{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-openner img{
    justify-self: center;
    align-items: center;
    width: 200px;
    margin-left: 230px;
}
.button-mode{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.buttonMode:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    transition: 0.5s ease-out;
}
label{
    font-size: 15px
}
.buttonMode{
    width: 15px;
    height: 15px;
    border-radius: 50px;
}
main {
    flex:1;
    padding:20px;
    margin-top: 100px;
}
h1 {
    font-family:'Hepta Slab', Helvetica, Arial;
}
.pokemon-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.pokemon-item {
    text-align: center;
    background-color: #2A6EB7;
    box-shadow: 10px 5px 5px black;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
    max-width:250px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0 auto 50px auto;
}
.pokemon-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}
.pokemon-item--img {
    width:200px;
    height:200px;
    border-radius:20px;
}
.pokemon-item--img img {
    width:100%;
    height:auto;
}
.pokemon-item--add {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#388bc5;
    text-align:center;
    color:#FFF;
    font-size:22px;
    cursor:pointer;
    transition:all ease .2s;
}
.pokemon-item:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.pokemon-item--type {
    font-size:15px;
    font-weight: bold;
    color:#fff;
    margin-top:5px;
}
.pokemon-item--name {
    font-size:25px;
    font-weight: bold;
    color:#FFFFFF;
    margin-top:5px;
}
.pokemon-item--desc {
    font-size:13px;
    color:#fff;
    margin-top:10px;
}

.pokemonWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.pokemonWindowArea::-webkit-scrollbar {
    width: 12px;              
  }
  
  .pokemonWindowArea::-webkit-scrollbar-track {
    background: #FFCB08;        
  }
  
  .pokemonWindowArea::-webkit-scrollbar-thumb {
    background-color: #2A6EB7;    
    border-radius: 20px;       
    border: 3px solid #FFCB08; 
  }
.pokemonWindowBody {
    width:900px;
    background-color:#555;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.pokemonBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pokemonBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#fff;
}
.pokemonBig img {
    height:400px;
    width:auto;
}
.pokemonInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}
.pokemonInfo h1 {
    margin-top:50px;
}
.pokemonInfo .pokemonInfo--desc {
    font-size:15px;
    text-align: justify;
    padding-right: 40px;
    color:#fff;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.pokemonInfo--sector {
    color: #fff;
    text-transform: uppercase;
    font-size:16px;
    margin-top:30px;
    margin-bottom:10px;
}
.pokemonInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.pokemonInfo--size {
    padding:10px 15px;
    color:#fff;
    background-color: #222;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.pokemonInfo--size:hover {
    background-color:#CCC;
}
.pokemonInfo--size.selected {
    background-color:#399ade;
    color:#FFF;
}
.pokemonInfo--size.selected span {
    color:#FFFFFF;
}
.pokemonInfo--size span {
    font-size:12px;
    color:#FFFFFF;
    font-weight: normal;
}
.pokemonInfo--type {
    display:flex;
    align-items:center;
}
.pokemonInfo--actualtype {
    font-size:28px;
    padding: 10px 15px;
    margin-right:30px;
    background-color: #9BCC50;
    border-radius: 10px;
}
.weaks{
    color: #fff;
    text-transform: uppercase;
    font-size:16px;
    margin-top:30px;
    margin-bottom:10px;
}
.weak{
    display: inline-block;
    padding: 10px 15px;
    font-size:28px;
    margin-right:30px;
    background-color: #FD7D24;
    border-radius: 10px;
}
.pokemonInfo--cancelButton {
    margin-top:30px;
    padding:20px 60px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-flex;
    cursor:pointer;
    margin-right:30px;
}
.pokemonInfo--cancelButton:hover {
    background-color:#32a345;
}
.pokemonInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    border-radius: 10px;
    line-height: 40px;
    margin-bottom:30px;
    background-color:#48d05f;
}.pokemonInfo--cancelMobileButton:hover{
    background-color: #32a345;
}
.footer-area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #2A6EB7;
}
.social-media:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.5s ease-out;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    color: #FFCB08;
    background-color: #2A6EB7;
    text-decoration: none;
}
@media (max-width:1000px) {
    .pokemon-area {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:840px) {
    .banner{
        display: none;
    }
    body {
        flex-direction: column;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .menu-openner img{
        max-width: 100px;
        margin: 0;
    }
    label{
        display: flex;
        font-size: 10px
    }
    .button-mode{
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }
    .buttonMode{
        width: 20px;
        height: 20px;
        border-radius: 20px;
    }
    .pokemon-area {
        display:block;
    }
    .pokemon-item {
        max-width:100%;
    }
    header {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        padding-top:10px;
    }
    .pokemonWindowArea {
        justify-content:flex-start;
        align-items: flex-start;
    }

    .pokemonWindowBody {
        width:100vw;
        display:block;
        padding:20px;
        border-radius:0;
        box-shadow:none;
        margin:0;
    }
    .pokemonBig img {
        width: 75%;
        height: auto;
    }
    .pokemon-item:hover{
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
        transition: 0.5s ease-out;
    }
    .pokemonInfo h1 {
        margin-top:20px;
    }
    .pokemonInfo--cancelButton {
        display:none;
    }
    .pokemonInfo--cancelMobileButton {
        display:block;
        cursor: pointer;
    }
}